<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오 로그인 정보</title>
</head>
<body>
    <div style="text-align: center; margin-top: 50px;">
        <h1>카카오 로그인 성공!</h1>

        <h3>사용자 정보</h3>
        사용자 ID 출력
        <p><strong>ID:</strong> <span th:text="${userInfo.id}"></span></p>
        닉네임 출력
        <p><strong>닉네임:</strong> <span th:text="${userInfo.kakaoAccount.profile.nickName}"></span></p>
        이메일 출력
        <p><strong>이메일:</strong> <span th:text="${userInfo.kakaoAccount.email}"></span></p>
        성별 출력
        <p><strong>성별:</strong> <span th:text="${userInfo.kakaoAccount.gender}"></span></p>
        프로필 사진
        연령대 출력
        <p><strong>연령대:</strong> <span th:text="${userInfo.kakaoAccount.ageRange}"></span></p>
        생일 출력
        <p><strong>생일:</strong> <span th:text="${userInfo.kakaoAccount.birthDay}"></span></p>

        <p><a  th:href="@{boardList}">다시 로그인</a></p>
    </div>
</body>
</html>
